Repository DataKind-DC/capital-nature-ingest, pull requests merged in 2019-07, with the labels that each got.

#138 TST: Refactor tests to only test the schema
  .circleci/config.yml
  .github/CONTRIBUTING.md
  README.md
  events/README.md
  events/ans.py
  events/arlington.py
  events/casey_trees.py
  events/city_blossoms.py
  events/dug_network.py
  events/fairfax.py
  events/friends_of_kenilworth_gardens.py
  events/montgomery.py
  events/nps.py
  events/sierra_club.py
  events/tnc.py
  events/vnps.py
  requirements.txt
  tests/ans_test.py
  tests/arlington_test.py
  tests/casey_trees_test.py
  tests/city_blossoms_test.py
  tests/dug_network_test.py
  tests/fairfax_test.py
  tests/fixtures/__init__.py
  tests/fixtures/ans_test_fixtures.py
  tests/fixtures/arlington_test_fixtures.py
  tests/fixtures/casey_test_fixtures.py
  tests/fixtures/city_blossoms_test_fixtures.py
  tests/fixtures/dug_test_fixtures.py
  tests/fixtures/fairfax_test_fixtures.py
  tests/fixtures/friends_test_fixtures.py
  tests/fixtures/montgomery_test_fixtures.py
  tests/fixtures/nps_test_fixtures.py
  tests/fixtures/sierra_club_test_fixtures.py
  tests/fixtures/tnc_test_fixtures.py
  tests/fixtures/vnps_test_fixtures.py
  tests/friends_test.py
  tests/get_events_test.py
  tests/montgomery_test.py
  tests/nps_test.py
  tests/sierra_club_test.py
  tests/tnc_test.py
  tests/utils.py
  tests/vnps_test.py
Labels: test

#139 FIX: handle missing event description (#136)
  events/ans.py
Labels: fix

#140 FIX: handle missing end times/dates in sierra club scraper
  event_schema.md
  events/sierra_club.py
Labels: fix

#16 Refactor FONA eventbrite scraper to lambda function
  events/fona.py
  tests/fona_test.py
Labels: enhancement, new event source

#142 TST: Fix bool test
  events/fona.py
  tests/utils.py
Labels: test

#143 ENH: add RCC scraper :sparkles:
  events/rcc.py
  tests/rcc_test.py
Labels: new event source
